# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

### ___Objectives:___
List popular languages for Data Science
- Python
- R
- SQL

### Some of the popular languages that Data Scientists use are:
1. English
2. Spanish
3.

### Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Scikit-learn

### 
|Data Science Tools|
| ------ | 
| Github | 
|JupyterLab | 
| Gitlab |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers.

17

In [3]:
200/60
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Sho